<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Usuarios</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a id="to-home-link" class="navbar-item" href="/">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28"
          />
        </a>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a id="to-users-link" href="/users" class="navbar-item">
              Usuarios
            </a>
            <a id="to-draws-link" href="/draws" class="navbar-item">Sorteos</a>
          </div>
        </div>
      </div>
    </nav>
    <h1 id="users-title" class="title is-1">Usuarios</h1>
    <a id="users-button-create" href="/newUser" class="button is-primary"
      >Crear nuevo usuario</a
    >
    <div class="column is-three-fifths is-offset-one-fifth">
      <table class="table">
        <thead>
          <tr>
            <td>Email</td>
            <td>Nombre</td>
            <td>Apellido 1</td>
            <td>Apellido 2</td>
            <td>Perfil</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName1}"></td>
            <td th:text="${user.lastName2}"></td>
            <td th:text="${user.role.getDisplayName()}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
